button {
  background: none;
  border: none;
  color: rgb(236, 18, 18);
  margin: 0;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-note-titile {
  display: flex;
  justify-content: space-between;
}

.app-sidebar-note p {
  margin: 10px 0;
}

.app-sidebar-note small {
  color: #999;
}

.app-sidebar-note:hover {
  background: #f1f0f0;
}

.app-sidebar-note.active{
  background: rgb(235, 194, 139);
  color: rgb(79, 7, 233);
}

.appsidebar-note.active small{
  color:black;
}
